{% extends 'admincourse.html' %}

{% block additional_content %}

<h3 align="center"><u>Update Course</u></h3><br>
Total Courses={{count}}
<br><br>
<input class="form-control" id="myInput" type="text" placeholder="Course Title"><br>
<table align="center" border="3" width="50%" class="table table-bordered table-striped">
    <thead>
    <tr align="center">
        <td>Course ID</td>
        <td>Coursecode</td>
        <td>Coursetitle</td>
        <td>Department</td>
        <td>Program</td>
        <td>Academicyear</td>
        <td>Semester</td>
        <td>Year</td>
        <td>L-T-P-S</td>
        <td>Credits</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for course in courses %}
    <tr align="center">
        <td>{{course.id}}</td>
        <td>{{course.coursecode}}</td>
        <td>{{course.coursetitle}}</td>
        <td>{{course.department}}</td>
        <td>{{course.program}}</td>
        <td>{{course.academicyear}}</td>
        <td>{{course.semester}}</td>
        <td>{{course.year}}</td>
        <td>{{course.ltps}}</td>
        <td>{{course.credits}}</td>
        <td><a href="/courseupdation/{{course.id}}" class="addbutton">Update</a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}